*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  color: white;
}
.nav input{
  width: 30rem;
  padding: 10px 15px;
  font-size: 1.8rem;
  outline: none;
  border-radius: 25px;
  margin-right: 1rem;
  background-color: rgb(134, 135, 135);
  
}

a{
  text-align: center;
  text-decoration: none;
}
h2{
  font-size: medium;
  color: rgb(186, 182, 182);
}

img{
  min-width: 10rem;
  max-width: 30rem;
  margin: 1rem 0;
  border-radius: 1rem;
  
}
.container{
  max-width: 140rem;
  margin: auto;
  padding: 3rem;
}

.grid{
  display: grid;
  gap: 2rem;
}
.grid-4-col{
  grid-template-columns: repeat(4,1fr);
}
.card{
  width: 25rem;
  max-width: 30rem;
  min-height: 30rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  color: red;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.details_section{
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
  
}
.left{
  margin-left: 2rem;
}
.right{
  margin-left: 3rem;
  margin-top: 2rem;
}
.right span{
  font-size: larger;
}

.loading{
  font-size: 3rem;
  color:rgba(186, 182, 182); 
  text-align: center;
  margin-top: 40%;
  

}
.button{
  margin-top: 25rem;
  width: 100px;
  height: 30px;
  background-color: rgba(186, 182, 182); 
  text-align: center;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  
}

a:hover img{
  transform: scale(1.1);
}



